@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Square+Peg&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  color: white;
}

.App-body {
  background-color:azure;
  font-family: DynaPuff;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}